/*let us centralize every element inside body element*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    vertical-align: middle;
    width: 67%;
    height: calc(100vh / 3);
}

button {
    vertical-align: middle;
    width: 67%;
    height: calc(100vh / 20);
}